*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

header {
  background: #1a2238;
  color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  margin-right: auto;
  display: flex;
  gap: 6px;
}

.logo-img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.logo-title {
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-top: 15px;
  font-size: 25px;
}

.logo:hover {
  color: #ff6a3d;
  transform: rotate(2deg);
}

.download {
  margin-right: 10px;
  border: none;
  font-size: 15px;
  padding: 6px 12px;
  background: #ff6a3d;
  color: #eaeaea;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  padding: 10px;
}

li {
  list-style-type: none;
  padding: 10px;
}

li a {
  transition: all 0.5s ease 0s;
  display: inline-block;
}

li a:hover {
  color: #ff6a3d;
  transform: rotate(2deg);
}

a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 17px;
  margin-top: 12px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.intro1 {
  display: flex;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.title1 {
  font-size: 24px;
  font-weight: bold;
}
.description {
  font-size: 28px;
}

.img-foto {
  width: 100%;
  height: auto;
  padding: 10px;
  max-width: 500px;
  float: left;
}

.parallax {
  background-image: url("3/foto/nuek2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 153vh;
}

.tentang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1a2238;
  color: #eaeaea;
  padding: 40px;
  margin-top: 30px;
}

.back {
  margin-top: 20px;
}

.bungkus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.kotak {
  text-align: center;
  min-height: 200px;
  max-height: 500px;
  background: #f7f7f7;
  color: #222;
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.kotak-judul {
  font-size: 18px;
  font-weight: bolder;
}

.kotak-description {
  font-size: 14px;
  margin-top: 4px;
}

.icon1 {
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 3px;
}

.icon6 {
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 3px;
}

.icon5 {
  width: 250px;
  height: 170px;
  margin: 10px;
  padding: 3px;
}

.icon2 {
  width: 250px;
  height: 177px;
  margin: 10px;
  padding: 3px;
}

.icon3 {
  width: 250px;
  height: 175px;
  margin: 10px;
  padding: 3px;
}

.icon4 {
  width: 250px;
  height: 180px;
  margin: 10px;
  padding: 3px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #1a2238;
  color: #eaeaea;
}
.tampilan-awal {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  margin-top: 40px;
}

.nama-awal {
  width: 45%;
  color: #111 !important;
}

.gambar-awal {
  width: 50%;
}

.gambar-awal img {
  width: 100%;
}

.nama-awal h1 {
  text-transform: uppercase;
  padding: 10px 0px;
  font-size: 46px;
  line-height: 1.1em;
  color: #2f4858;
}

.nama-awal h3 {
  text-transform: uppercase;
  padding: 0px 0px;
  font-size: 32px;
  color: black;
}

.nama-awal p {
  padding: 10px 0px;
  text-align: justify;
  font-weight: 600;
  color: black;
}

.gambar1 {
  width: 470px;
  height: 500px;
  border-radius: 50%;
  margin-left: 8%;
}

h1 {
  margin-bottom: 10px;
}

.card-img-top {
  width: 100%;
  height: 200px;
}
.socials {
  position: relative;
}
.socials .social-icons {
  padding-left: 0;
}
.socials .social-icons li {
  display: inline-block;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: black;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: 5px;
  margin-right: 25px;
}
.tiktok {
  width: 30px;
  height: 30px;
}

.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}
.footer .box-container .box h3 {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 3rem;
  width: 3rem;
  padding: 0;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: white;
}
.footer .credit {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu {
  text-align: center;
}
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}

.portfolio-item {
  /*width:100%;*/
}
.portfolio-item .item {
  /*width:303px;*/
  float: left;
  margin-bottom: 10px;
}
